<section>
    <div class="container">
        <!--  HEADER  -->
        <div class="header" id="particles-js">
            <div class="card-header">
                <div class="brand font-robo">
                    <h1 >{<span id="brand-text"></span>}</h1>
                </div>

                <div class="sub-str font-robo">
                    <p>Web Developer.</p>
                </div>

                <div class="icons">
                    <a href="https://github.com/adrianAraqueG" target="_blank"><img src="img/github.png" alt="github" width="50px"></a>
                    <a href="https://www.linkedin.com/in/adrian-araque-dev" target="_blank"><img src="img/linkedin.png" alt="linkedin" width="50px"></a>
                    <a href="https://www.instagram.com/adrianaraque_/" target="_blank"><img src="img/instagram.png" alt="instagram" width="50px"></a>
                </div>
            </div>
        </div>
        <!-- end header -->

        <!-- NAVBAR -->
        <button class="btn-nav d-none" id="btn-nav">
            <img src="img/nav-icon-w.png" alt="nav-icon" width="40px">
        </button>

        <nav class="nav">
            <ul class="nav-list font-robo">
                <li class="nav-item">
                    <a href="#who-i-am">Who Am I</a>
                </li>
                <li class="nav-item">
                    <a href="#projects" class="nav-link">Projects</a>
                </li>
                <li class="nav-item">
                    <a href="#footer" class="nav-link">Contact</a>
                </li>
            </ul>
        </nav>
        <!-- end navbar -->

        <!-- SECTION -->
        <div class="section">
            <div class="content">

                <div class="col">
                    <img src="img/programing.png" alt="me">
                </div>
                <div class="col col-block">
                    <div class="title color-dark" id="who-i-am">
                        <h3>Who Am I</h3>
                    </div>
                    
                    <p>Engineer student from Colombia, who spend his time learning and practicing about tech.</p>

                    <h5>Skills</h5>

                    <div class="icons-p">
                        <img src="img/icons/html5_icon.png" alt="html html5 icon">
                        <img src="img/icons/css3_icon.png" alt="html html5 icon">
                        <img src="img/icons/nodejs_icon.png" alt="html html5 icon">
                        <img src="img/icons/js_icon.png" alt="html html5 icon">
                        <img src="img/icons/php_icon.png" alt="html html5 icon">
                        <img src="img/icons/webpack_icon.jpg" alt="html html5 icon">
                        <img src="img/icons/express_icon.png" alt="html html5 icon">
                        <img src="img/icons/mysql.png" alt="html html5 icon">
                    </div>
                </div>
            </div>

            <div class="content bg-blue">
                <div class="title color-light" id="projects" style="padding-bottom: 40px;">
                    <h3>Projects</h3>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="img/opegin-sv.gif" alt="">
                    </div>
                    <div class="card-body">
                        <h4>OPEGIN-SV</h4><a class="link" target="_blank" href="http://opegin-sv.herokuapp.com/"><svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"></path></svg></a>
                        <p>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Node <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Express <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> MVC <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> MySQL <br>
                        </p>
                        <div class="icons">
                            <a href="https://github.com/adrianAraqueG/opegin-sv" target="_blank"><img src="img/github-n.png" alt="github" width="50px"></a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="img/agenciaviajes.gif" alt="">
                    </div>
                    <div class="card-body">
                        <h4>Agencia de Viajes</h4><a class="link" target="_blank" href="http://agenciadeviajes-project.herokuapp.com/"><svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"></path></svg></a>
                        <p>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Node <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Express <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> MVC <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> MySQL <br>
                        </p>
                        <div class="icons">
                            <a href="https://github.com/adrianAraqueG/agencia-de-viajes" target="_blank"><img src="img/github-n.png" alt="github" width="50px"></a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="img/motoplanet.gif" alt="">
                    </div>
                    <div class="card-body">
                        <h4>Motoplanet</h4><a class="link" href="https://motoplanet-project.netlify.app/" target="_blank"><svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"></path></svg></a>
                        <p>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> CSS Vanilla <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Flexbox <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Responsive <br>
                        </p>
                        <div class="icons">
                            <a href="https://github.com/adrianAraqueG/motoplanet-maquetado" target="_blank"><img src="img/github-n.png" alt="github" width="50px"></a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="img/pwa.gif" alt="">
                    </div>
                    <div class="card-body">
                        <h4>My First PWA</h4><a class="link" href="https://administradorpwa.netlify.app/" target="_blank"><svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"></path></svg></a>
                        <p>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Progressive Web Application <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> CRUD <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Responsive <br>
                        </p>
                        <div class="icons">
                            <a href="https://github.com/adrianAraqueG/admin-pwa" target="_blank"><img src="img/github-n.png" alt="github" width="50px"></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="img/react.gif" alt="">
                    </div>
                    <div class="card-body">
                        <h4>React Budget</h4><a class="link" href="https://cotizador-react-prj.netlify.app/" target="_blank"><svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"></path></svg></a>
                        <p>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> React.js <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Hooks <br>
                        </p>
                        <div class="icons">
                            <a href="https://github.com/adrianAraqueG/react-presupuesto" target="_blank"><img src="img/github-n.png" alt="github" width="50px"></a>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-img">
                        <img src="img/cripto.gif" alt="">
                    </div>
                    <div class="card-body">
                        <h4>Cripo Currency</h4>
                        <p>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> API implementation (criptocompare)<br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Fetch() <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Async/await <br>
                        </p>
                        <div class="icons">
                            <a href="https://github.com/adrianAraqueG/cripto-api" target="_blank"><img src="img/github-n.png" alt="github" width="50px"></a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="img/clima.gif" alt="">
                    </div>
                    <div class="card-body">
                        <h4>Weather Search</h4>
                        <p>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> API implementation (OpenWeatherMap)<br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Fetch() <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Async/await <br>
                        </p>
                        <div class="icons">
                            <a href="https://github.com/adrianAraqueG/api-clima" target="_blank"><img src="img/github-n.png" alt="github" width="50px"></a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="img/pixabay.gif" alt="">
                    </div>
                    <div class="card-body">
                        <h4>Image Search</h4>
                        <p>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> API implementation (Pixabay) <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Axios library <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Pagination <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Tailwind CSS <br>
                        </p>
                        <div class="icons">
                            <a href="https://github.com/adrianAraqueG" target="_blank"><img src="img/github-n.png" alt="github" width="50px"></a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="img/lyrics.gif" alt="">
                    </div>
                    <div class="card-body">
                        <h4>Lyrics Search</h4>
                        <p>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> API implementation <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Fetch() <br>
                            <svg width="20px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg> Bootstrap<br>
                        </p>
                        <div class="icons">
                            <a href="https://github.com/adrianAraqueG" target="_blank"><img src="img/github-n.png" alt="github" width="50px"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            
        <footer>
            <div class="footer" id="footer">
                    <div class="col-footer">
                        <div class="contact">
                            <h3>Contact me :)</h3>
                            <strong>Social</strong>
                            <div class="footer-icons mt-1 mb-2">
                                <a href="https://github.com/adrianAraqueG" target="_blank"><img src="img/github.png" alt="github" width="50px"></a>
                                <a href="https://www.linkedin.com/in/adrian-araque-dev" target="_blank"><img src="img/linkedin.png" alt="linkedin" width="50px"></a>
                                <a href="https://www.instagram.com/adrianaraque_/" target="_blank"><img src="img/instagram.png" alt="instagram" width="50px"></a>
                            </div>
    
                            <strong>Send me a Whats</strong>
                            <div class="footer-icons mt-1 mb-2">
                                <a href="https://wa.link/7seq1v" target="_blank"><img src="img/whatsapp.png" alt="github" width="50px"></a>
                            </div>
    
                            <strong>Or an Email</strong>
                            <p class="mt-1 mb-2"><a href="mailto:adrian.kanox.2003@gmail.com">adrian.kanox.2003@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="col-footer">
                        <img class="me" src="img/me.jpeg">
                    </div>
            </div>
        </footer>
        <!-- https://wa.link/7seq1v -->
    </div>

    <is:inline script src="packages/particles.js"></is:inline>
</section>

<script>
    /**
     *  APP PORTFOLIO
     * created by Adrián Araque
     * 2021 
     */

/* Variables */

const brandtext = document.querySelector('#brand-text');

/* Classes */

class UI{
    proceduralText(){
        const str = 'Adrián Araque';
        const str2 = 'Nunca pares de aprender'
        let arrayFromString = str.split('');
        let i = 0;

        let printStr = setInterval(()=>{
            brandtext.textContent += arrayFromString[i];
            i++
            if(i === arrayFromString.length){
                clearInterval(printStr);
                //puntoBucle();
            }
        }, 80);

    }
}

/* Instances */
const ui = new UI;

/* Events */
document.addEventListener('DOMContentLoaded', () => {
    setTimeout(()=>{
        if(brandtext.textContent.length == 0){
            ui.proceduralText();
        }
    }, 400)

    // PARTICLES.JS //
particlesJS('particles-js',
  {
      "particles": {
        "number": {
          "value": 52,
          "density": {
            "enable": false,
            "value_area": 800
          }
        },
        "color": {
          "value": "#ffffff"
        },
        "shape": {
          "type": "circle",
          "stroke": {
            "width": 0,
            "color": "#000000"
          },
          "polygon": {
            "nb_sides": 5
          },
          "image": {
            "src": "img/github.svg",
            "width": 100,
            "height": 100
          }
        },
        "opacity": {
          "value": 0.22885642810356918,
          "random": false,
          "anim": {
            "enable": false,
            "speed": 1,
            "opacity_min": 0.1,
            "sync": false
          }
        },
        "size": {
          "value": 3.9458004845442964,
          "random": true,
          "anim": {
            "enable": false,
            "speed": 30.405405405405382,
            "size_min": 0.1,
            "sync": false
          }
        },
        "line_linked": {
          "enable": false,
          "distance": 150,
          "color": "#ffffff",
          "opacity": 0.4,
          "width": 1
        },
        "move": {
          "enable": true,
          "speed": 1.666902811231592,
          "direction": "left",
          "random": false,
          "straight": false,
          "out_mode": "out",
          "bounce": false,
          "attract": {
            "enable": false,
            "rotateX": 600,
            "rotateY": 1200
          }
        }
      },
      "interactivity": {
        "detect_on": "canvas",
        "events": {
          "onhover": {
            "enable": false,
            "mode": "repulse"
          },
          "onclick": {
            "enable": false,
            "mode": "push"
          },
          "resize": true
        },
        "modes": {
          "grab": {
            "distance": 400,
            "line_linked": {
              "opacity": 1
            }
          },
          "bubble": {
            "distance": 400,
            "size": 40,
            "duration": 2,
            "opacity": 8,
            "speed": 3
          },
          "repulse": {
            "distance": 200,
            "duration": 0.4
          },
          "push": {
            "particles_nb": 4
          },
          "remove": {
            "particles_nb": 2
          }
        }
      },
      "retina_detect": false
    }
  
  );
  
  particlesJS('content-particles',
    {
      "particles": {
        "number": {
          "value": 52,
          "density": {
            "enable": false,
            "value_area": 800
          }
        },
        "color": {
          "value": "#ffffff"
        },
        "shape": {
          "type": "circle",
          "stroke": {
            "width": 0,
            "color": "#000000"
          },
          "polygon": {
            "nb_sides": 5
          },
          "image": {
            "src": "img/github.svg",
            "width": 100,
            "height": 100
          }
        },
        "opacity": {
          "value": 0.22885642810356918,
          "random": false,
          "anim": {
            "enable": false,
            "speed": 1,
            "opacity_min": 0.1,
            "sync": false
          }
        },
        "size": {
          "value": 3.9458004845442964,
          "random": true,
          "anim": {
            "enable": false,
            "speed": 30.405405405405382,
            "size_min": 0.1,
            "sync": false
          }
        },
        "line_linked": {
          "enable": false,
          "distance": 150,
          "color": "#ffffff",
          "opacity": 0.4,
          "width": 1
        },
        "move": {
          "enable": true,
          "speed": 1.666902811231592,
          "direction": "left",
          "random": false,
          "straight": false,
          "out_mode": "out",
          "bounce": false,
          "attract": {
            "enable": false,
            "rotateX": 600,
            "rotateY": 1200
          }
        }
      },
      "interactivity": {
        "detect_on": "canvas",
        "events": {
          "onhover": {
            "enable": false,
            "mode": "repulse"
          },
          "onclick": {
            "enable": false,
            "mode": "push"
          },
          "resize": true
        },
        "modes": {
          "grab": {
            "distance": 400,
            "line_linked": {
              "opacity": 1
            }
          },
          "bubble": {
            "distance": 400,
            "size": 40,
            "duration": 2,
            "opacity": 8,
            "speed": 3
          },
          "repulse": {
            "distance": 200,
            "duration": 0.4
          },
          "push": {
            "particles_nb": 4
          },
          "remove": {
            "particles_nb": 2
          }
        }
      },
      "retina_detect": false
    }
  
  );
});

</script>